openapi: 3.0.1
info:
  title: Bot Score
  version: '2025-05-13T08:48:36Z'
servers:
  - url: https://api.insighttechservices.sportradar.com/{basePath}
    variables:
      basePath:
        default: doc/bscore
paths:
  /bscore/{bookmaker}/{subbookmaker}/list:
    get:
      tags:
        - Endpoints
      summary: Retrieve All Bot Scores AS THIS IS A TEST
      description: >-
        Fetches Bot Scores for all accounts associated with a specific bookmaker
        and sub-bookmaker. If there are multiple pages of results, the response
        may include a lastEvaluatedKey for pagination.
      operationId: Bot Score List
      parameters:
        - name: lastKey
          in: query
          description: >-
            The response will start from a provided lastKey, which is the same
            as lastEvaluatedKey from a previous call
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>The response will start from a provided lastKey, which is the
            same as lastEvaluatedKey from a previous call</p>
        - name: bookmaker
          in: path
          description: >-
            Identifier for the bookmaker. Generated by Sportradar, contact your
            OAM or CI engineer in case of any issues with obtaining the correct
            value.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value.</p>
        - name: subbookmaker
          in: path
          description: >-
            Identifier for the sub-bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value. Value * retrieves all data for a bookmaker.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the sub-bookmaker. Generated by Sportradar,
            contact your OAM or CI engineer in case of any issues with obtaining
            the correct value. Value * retrieves all data for a bookmaker.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotScoreResponse'
            application/example:
              schema:
                $ref: '#/components/schemas/ResponseExample'
          x-gitbook-description-html: <p>Success</p>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          x-gitbook-description-html: <p>Unauthorized</p>
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          x-gitbook-description-html: <p>Access denied</p>
        '429':
          description: Throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throttled'
          x-gitbook-description-html: <p>Throttled</p>
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          x-gitbook-description-html: <p>Internal error</p>
      security:
        - mts-insight-tech-bot-score-authorizer: []
      x-hideTryItPanel: 'true'
      x-codeSamples:
        - label: HTTP
          lang: HTTP
          source: |-
            GET https://<URL>/bscore/{bookmaker}/{subbookmaker}/list HTTP/1.1
            'Authorization: Bearer <JWT>'
            'Accept: */*'
        - label: CLI
          lang: cURL
          source: |-
            curl -L
            --header 'Authorization: Bearer <JWT>'
            --header 'Accept: */*'
            --url 'https://<URL>/bscore/{bookmaker}/{subbookmaker}/list'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 8
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Fetches Bot Scores for all accounts associated with a
                      specific bookmaker and sub-bookmaker. If there are
                      multiple pages of results, the response may include a
                      lastEvaluatedKey for pagination.
                    marks: []
      x-gitbook-description-html: >-
        <p>Fetches Bot Scores for all accounts associated with a specific
        bookmaker and sub-bookmaker. If there are multiple pages of results, the
        response may include a lastEvaluatedKey for pagination.</p>
  /bscore/{bookmaker}/{subbookmaker}/source:
    get:
      tags:
        - Endpoints
      summary: Retrieve Bot Scores for Specific Accounts
      description: >-
        Fetches Bot Scores for a specified list of account IDs under a given
        bookmaker and sub-bookmaker. If there are multiple pages of results, the
        response may include a lastEvaluatedKey for pagination.
      operationId: Bot Score Source
      parameters:
        - name: customer
          in: query
          description: >-
            Comma-separated list of account IDs for which to retrieve data. Each
            account ID should belong to the specified bookmaker and
            sub-bookmaker.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Comma-separated list of account IDs for which to retrieve data.
            Each account ID should belong to the specified bookmaker and
            sub-bookmaker.</p>
        - name: bookmaker
          in: path
          description: >-
            Identifier for the bookmaker. Generated by Sportradar, contact your
            OAM or CI engineer in case of any issues with obtaining the correct
            value.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value.</p>
        - name: subbookmaker
          in: path
          description: >-
            Identifier for the sub-bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value. Value * retrieves all data for a bookmaker.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the sub-bookmaker. Generated by Sportradar,
            contact your OAM or CI engineer in case of any issues with obtaining
            the correct value. Value * retrieves all data for a bookmaker.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotScoreResponse'
            application/example:
              schema:
                $ref: '#/components/schemas/ResponseExample'
          x-gitbook-description-html: <p>Success</p>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          x-gitbook-description-html: <p>Unauthorized</p>
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          x-gitbook-description-html: <p>Access denied</p>
        '429':
          description: Throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throttled'
          x-gitbook-description-html: <p>Throttled</p>
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          x-gitbook-description-html: <p>Internal error</p>
      security:
        - mts-insight-tech-bot-score-authorizer: []
      x-hideTryItPanel: 'true'
      x-codeSamples:
        - label: HTTP
          lang: HTTP
          source: |-
            GET https://<URL>/bscore/{bookmaker}/{subbookmaker}/source HTTP/1.1
            'Authorization: Bearer <JWT>'
            'Accept: */*'
        - label: CLI
          lang: cURL
          source: |-
            curl -L
            --header 'Authorization: Bearer <JWT>'
            --header 'Accept: */*'
            --url 'https://<URL>/bscore/{bookmaker}/{subbookmaker}/source'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 8
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Fetches Bot Scores for a specified list of account IDs
                      under a given bookmaker and sub-bookmaker. If there are
                      multiple pages of results, the response may include a
                      lastEvaluatedKey for pagination.
                    marks: []
      x-gitbook-description-html: >-
        <p>Fetches Bot Scores for a specified list of account IDs under a given
        bookmaker and sub-bookmaker. If there are multiple pages of results, the
        response may include a lastEvaluatedKey for pagination.</p>
  /bscore/{bookmaker}/{subbookmaker}/range:
    get:
      tags:
        - Endpoints
      summary: Retrieve Bot Scores in a Range
      description: >-
        Fetches Bot Scores for accounts under a bookmaker and sub-bookmaker
        whose scores fall within a specified range. If there are multiple pages
        of results, the response may include a lastEvaluatedKey for pagination.
      operationId: Bot Score Range
      parameters:
        - name: lower
          in: query
          description: >-
            Lower threshold of the range to retrieve data for. At least one of
            the lower/higher query parameter is mandatory.
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Lower threshold of the range to retrieve data for. At least one
            of the lower/higher query parameter is mandatory.</p>
        - name: startKey
          in: query
          schema:
            type: string
        - name: higher
          in: query
          description: >-
            Higher threshold of the range to retrieve data for. At least one of
            the lower/higher query parameter is mandatory.
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Higher threshold of the range to retrieve data for. At least one
            of the lower/higher query parameter is mandatory.</p>
        - name: bookmaker
          in: path
          description: >-
            Identifier for the bookmaker. Generated by Sportradar, contact your
            OAM or CI engineer in case of any issues with obtaining the correct
            value.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value.</p>
        - name: subbookmaker
          in: path
          description: >-
            Identifier for the sub-bookmaker. Generated by Sportradar, contact
            your OAM or CI engineer in case of any issues with obtaining the
            correct value. Value * retrieves all data for a bookmaker.
          required: true
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Identifier for the sub-bookmaker. Generated by Sportradar,
            contact your OAM or CI engineer in case of any issues with obtaining
            the correct value. Value * retrieves all data for a bookmaker.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotScoreResponse'
            application/example:
              schema:
                $ref: '#/components/schemas/ResponseExample'
          x-gitbook-description-html: <p>Success</p>
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          x-gitbook-description-html: <p>Unauthorized</p>
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          x-gitbook-description-html: <p>Access denied</p>
        '429':
          description: Throttled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Throttled'
          x-gitbook-description-html: <p>Throttled</p>
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
          x-gitbook-description-html: <p>Internal error</p>
      security:
        - mts-insight-tech-bot-score-authorizer: []
      x-hideTryItPanel: 'true'
      x-codeSamples:
        - label: HTTP
          lang: HTTP
          source: |-
            GET https://<URL>/bscore/{bookmaker}/{subbookmaker}/range HTTP/1.1
            'Authorization: Bearer <JWT>'
            'Accept: */*'
        - label: CLI
          lang: cURL
          source: |-
            curl -L
            --header 'Authorization: Bearer <JWT>'
            --header 'Accept: */*'
            --url 'https://<URL>/bscore/{bookmaker}/{subbookmaker}/range'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 8
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Fetches Bot Scores for accounts under a bookmaker and
                      sub-bookmaker whose scores fall within a specified range.
                      If there are multiple pages of results, the response may
                      include a lastEvaluatedKey for pagination.
                    marks: []
      x-gitbook-description-html: >-
        <p>Fetches Bot Scores for accounts under a bookmaker and sub-bookmaker
        whose scores fall within a specified range. If there are multiple pages
        of results, the response may include a lastEvaluatedKey for
        pagination.</p>
components:
  schemas:
    BotScoreResponseResponseItem:
      type: object
      properties:
        customers:
          type: array
          items:
            $ref: '#/components/schemas/BotScoreResponseResponseItemCustomersItem'
      additionalProperties: false
    BotScoreResponseResponseItemCustomersItem:
      required:
        - C
      type: object
      properties:
        C:
          $ref: '#/components/schemas/BotScoreResponseResponseItemCustomersItemC'
      additionalProperties: false
    BotScoreResponseResponseItemCustomersItemC:
      required:
        - bscore
        - id
        - srcId
      type: object
      properties:
        bscore:
          type: string
        id:
          type: string
        srcId:
          type: string
      additionalProperties: false
    ResponseExampleResponseItemCustomersItemC:
      required:
        - bscore
        - id
        - srcId
      type: object
      properties:
        bscore:
          type: string
          enum:
            - '0.61'
        id:
          type: string
          enum:
            - abc
        srcId:
          type: string
          enum:
            - 1234:5678:::abc
      additionalProperties: false
    BotScoreResponse:
      required:
        - queryExecutionTime
        - requestId
        - responseItem
        - responseMessage
        - responseStatus
      type: object
      properties:
        lastEvaluatedKey:
          type: string
        queryExecutionTime:
          type: integer
        requestId:
          type: string
        responseItem:
          $ref: '#/components/schemas/BotScoreResponseResponseItem'
        responseMessage:
          type: string
        responseStatus:
          type: string
          enum:
            - SUCCESSFUL
            - VALIDATION_FAILED
            - ERROR
            - KEY_NOT_FOUND
    ResponseExampleResponseItem:
      type: object
      properties:
        customers:
          type: array
          items:
            $ref: '#/components/schemas/ResponseExampleResponseItemCustomersItem'
      additionalProperties: false
    Forbidden:
      title: Forbidden
      type: object
      properties:
        message:
          type: string
          enum:
            - You do not have permission to access this resource.
    Unauthorized:
      title: Unauthorized
      type: object
      properties:
        message:
          type: string
          enum:
            - Authorization error, please contact support.
    ResponseExampleResponseItemCustomersItem:
      required:
        - C
      type: object
      properties:
        C:
          $ref: '#/components/schemas/ResponseExampleResponseItemCustomersItemC'
      additionalProperties: false
    InternalError:
      title: Internal Server Error
      type: object
      properties:
        message:
          type: string
          enum:
            - Internal server error, please contact support.
    Throttled:
      title: Throttled
      type: object
      properties:
        message:
          type: string
          enum:
            - Request throttled! Try again later.
    ResponseExample:
      required:
        - queryExecutionTime
        - requestId
        - responseItem
        - responseMessage
        - responseStatus
      type: object
      properties:
        lastEvaluatedKey:
          type: string
          enum:
            - 83hdf97f98f
        queryExecutionTime:
          type: integer
          enum:
            - 5
        requestId:
          type: string
          enum:
            - c81d9e0b-d122-4e5a-b8e1-24c6c5113419
        responseItem:
          $ref: '#/components/schemas/ResponseExampleResponseItem'
        responseMessage:
          type: string
          enum:
            - 'Number of items found: 1'
        responseStatus:
          type: string
          enum:
            - SUCCESSFUL
  securitySchemes:
    mts-insight-tech-bot-score-authorizer:
      type: apiKey
      description: Bearer authentication header of the form Bearer <token>.
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-gitbook-description-html: <p>Bearer authentication header of the form Bearer .</p>
